.MenuListContainer{
    margin: 2rem auto;
    width: 90%;
}
.category_container{
    margin: 0 auto;
}
.category_products__content{
    display: grid;
    gap: 20px;
    width: 100%;
    align-items: center;
}

@media (min-width: 600px) {
    .category_products__content { grid-template-columns: repeat(2, 280px); }
    
}

  /* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
    .category_products__content { grid-template-columns: repeat(4, 280px); }
    
}


.category_products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
}
.category_products p{
    text-align: center;
    font-weight: 700;
}

.ImageContainer{
    width: auto;
    transition: all 0.5s;
}

.ImageContainer:hover img{
    scale: 1.05;
    transition: all 0.5s;
}

.Image{
    height: 220px;
    width: 280px;
    transition: all 0.5s;
}

.Product_info_container{
    background-color: #F5EBDC;
    color: #502314;
    /* height: 90vh; */
    height: 85vh;
    margin: 0 auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Product_info_container__contentWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}

.miniNav{
    display: flex;
    align-items: center;
    padding: 0;
    align-self: self-start;
    font-size: 0.8rem;
    color: #50231480;
}

.miniNav li{
    list-style: none;
    margin: 0 1rem;
    font-size: 1rem;
    color: #502314;
}
.miniNav li:first-child{
    margin-left: 0;
}
.miniNav li:last-child{
    font-weight: 700;
    color: #E52500;
}

.product_info__img{
    height: 500px;
    width: auto;
    aspect-ratio: 1.4/1;
}

.product_info__text{
    height: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product_info__text > *{
    margin: 1rem 0;
}
.product_info__text h2{
    font-weight: 700;
    font-size: 2.2rem;
}
.product_info__text p{
    text-align: start;
}

.main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: start;
    /* padding: 6rem; */
    min-height: 100vh;
    background-color: #F5EBDC;
    color: black;
    margin: 0 auto;
}


