/* NAV SECTION */
.Navbar_container {
  padding: 1% 5%;
  margin: 0;
  /* border: 1px solid #502314; */
  max-height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  background-color: #efe2cf;
  position: sticky;
  top: 0px;
  z-index: 5;
}

.Navbar_container__logo {
  height: 3rem;
  width: 3rem;
}
.Navbar_container__hamburger{
  justify-self: flex-end;
  display: none;
}
.Navbar_container__navegation {
  padding: 0;
  display: flex;
  align-items: center;
}

.Navbar_container__navegation a {
  text-decoration: none;
  color: #502314;
  margin: 0 1rem;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 15px;
  padding: 0.5rem 1rem;
  transition: all 0.2s;
}
.Navbar_container__navegation a:hover{
  background-color: #a896822c;
  transition: all 0.2s;
  color: #D72300;
}

@media (max-width: 950px){
  .Navbar_container {
    justify-content: space-between;
    height: 4rem;
  }
  .Navbar_container__navegation{
    display: none;
  }
  .Navbar_container__hamburger{
    display: block;
    cursor: pointer;
  }
  
}

.LocalSearch_container{
  background-color: #efe2cf;
  width: 90vw;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
}





.LocalSearch_container__text{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 90%;
  color: #502314;
}

.LocalSearch_container__text h4{
  font-weight: 700;
  font-size: x-large;
  margin: 10px 0;
}

.LocalSearch_container__text .inputContainer{
  display: flex;
  align-items: center;
  background-color: white;
  margin: 20px 0 0 0;
  border-radius: 10px;
  filter: drop-shadow(0 0 2px #00000057);


}
.inputContainer input{
  background-color: transparent;
  color: #502314;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  border: none;
  border-radius: 10px;

}
.inputContainer input:focus{
  border: none;
  outline: none;
}

.inputContainer button{
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.LocalSearch_container__image img{
  width: 250px;
  height: 200px;
}
@media (max-width: 700px){
  .LocalSearch_container{
    width: 100vw;
    border-radius: 0%;
    flex-direction: column;
    justify-content: space-between;
    height: fit-content;
    padding: 0 ;
  }
  .LocalSearch_container__text{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
    color: #502314;
    margin: 1rem;
  }

  .LocalSearch_container__image{
    display: flex;
    justify-content: end;
    align-items: flex-end;
  }
}


.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-color: #F5EBDC;
}


.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  position: relative;
}


/* FOOTER SECTION */

.FooterContainer{
  background-color: #502314;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
}
.FooterContainer hr{
  width: 100%;
  max-width: 1500px;

  color: #F5EBDC;
  margin: 2rem 0;
}
.footer_top{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 1500px;

}

.footer_top__navigation{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.footer_top__links{
  display: flex;
  flex-direction: column;
  width: 200px;
}

.footer_top__links h4{
  font-size: 1.3rem;
}
.footer_top__links ul li{
  list-style: none;
  margin: 1rem 0;
  transition: all 0.2s;
}
.footer_top__links ul li a:hover{
  color: #D72300;
  transition: all 0.2s;
}

.footer_bottom{
  display: flex;
  width: 100%;
  max-width: 1500px;

  justify-content: space-between;
  align-items: center;
  font-size: 0.6rem;
}

.footer_bottom__social a{
  margin: 0 0 0 1rem;
}

@media (max-width: 950px){
  .footer_top{
    flex-direction: column;
  }
  .footer_top__img{
    margin-bottom: 2rem ;
  }
  .footer_top__navigation{
    width: auto;
  }
}
@media (max-width: 650px){
  .footer_top__navigation{
    flex-direction: column;
  }
  .footer_top__links{
    width: auto;
  }
  .footer_bottom{
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .footer_bottom__social{
    margin-bottom: 1rem;
  }
  .footer_bottom__social a{
    margin: 0;
    margin-right: 1rem;
  }
  .footer_bottom__social a svg{
    width: 30px;
    height: 30px;
  }
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}


/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }

  .description {
    font-size: 0.8rem;
  }

  .description a {
    padding: 1rem;
  }

  .description p,
  .description div {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
  }

  .description p {
    align-items: center;
    inset: 0 0 auto;
    padding: 2rem 1rem 1.4rem;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
    background: linear-gradient(
      to bottom,
      rgba(var(--background-start-rgb), 1),
      rgba(var(--callout-rgb), 0.5)
    );
    background-clip: padding-box;
    backdrop-filter: blur(24px);
  }

  .description div {
    align-items: flex-end;
    pointer-events: none;
    inset: auto 0 0;
    padding: 2rem;
    height: 200px;
    background: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(var(--background-end-rgb)) 40%
    );
    z-index: 1;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
